<%- include('elems/navbar') %>
    <div class="container" style="max-width: 600px;">
    <h1>Edit your post</h1>
    <form action="/edit/<%= singlePost.id %>" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Edit your title</label>
            <input type="text" class="form-control" id="title" placeholder="Edit your text" name="title" value="<%= singlePost.title %>">
        </div>
        <div class="mb-3">
            <label for="text">Edit your text</label>
            <textarea class="form-control" placeholder="Edit your asdasd text" id="text" style="height: 100px" name="text"><%= singlePost.text %></textarea>
        </div>

        <a href="/" class="btn btn-primary mt-3">Cancel</a>
        <button type="reset" class="btn btn-primary mt-3">Reset</button>
        <button type="submit" class="btn btn-success mt-3">SAVE</button>
    </form>
    </div>
    
</body>

</html>